/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
body {
  padding-top: 3.5rem;
}
.btn,
.jumbotron {
  border-radius: 0;
}
.jumbotron {
  background: #fafafa;
}
.spot {
  padding: 2rem;
  margin-bottom: 1.5rem;
  background: #fafafa;
}
.unavailable {
  opacity: 0.4;
  cursor: not-allowed;
  position: relative;
}
.slot {
  background: #fafafa;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.slot.filled {
  border: 2px solid #44b844;
}
